html {
	overflow-x: hidden;
	overflow-y: auto;
}

body {
    background-color: #ffffff;
	width: 1120px;
	font-family: Arial, Helvetica, Verdana;
	font-size: 10px;
}

p {
	text-align: center;
}

a {
    font-family: Arial, Helvetica, Verdana;
    font-size: 10pt;
    color: #000000;
    font-weight: bold
}

b {
    font-family: Arial, Helvetica, Verdana;
    font-size: 10pt;
    color: #000000;
    font-weight: bold
}

td.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000000;
    font-weight: bold
}

td.arial {
    font-family: Arial, Helvetica, Verdana;
    font-size: 10pt;
    color: #000000;
    font-weight: bold
}

td.ip {
    font-family: Arial, Helvetica, Verdana;
    font-size: 10pt;
    color: #000000
}

td.number {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 9pt;
    color: #000000
}

input.ip {
    font-family: Arial, Helvetica, Verdana;
    width: 30px;
    font-size: 10pt
}

input.hex {
    font-family: Arial, Helvetica, Verdana;
    width: 26px;
    font-size: 10pt;
}

th {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: #000000;
    font-weight: bold
}

tr.red td {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: red
}

tr.green td {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: green
}

td {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: #000000
}

td.black {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: black
}

td.red {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: red
}

td.blue {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: blue
}

td.green {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    color: green
}

input.btnw1 {
    width: 1cm
}

input.btnw {
    width: 2cm
}

input.btnw3 {
    width: 3cm
}

input.btnw4 {
    width: 4cm
}

.row0 {
    background-color: #f0f0f0
}

.row1 {
    background-color: #FFFFFF
}

.redrow0 td {
    background-color: #f0f0f0;
    color: red
}

.redrow1 td {
    background-color: #FFFFFF;
    color: red
}

.redrow0 a {
    background-color: #f0f0f0;
    color: red
}

.redrow1 a {
    background-color: #FFFFFF;
    color: red
}

input.progressbar {
    font-family: Arial;
    font-weight: bolder;
    color: #00FF00;
    background-color: black;
    padding: 0px;
    border-style: none
}

input.percent {
    border: 0px;
    background-color: transparent;
    color: red;
}

input.transpt {
    border: 0px;
    background-color: transparent;
}

input.txtw1 {
    width: 190px
}

select.txtw1 {
    width: 190px
}

select.txtw2 {
    width: 230px;
    font-family: 'Courier New'
}

.offtab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #e5e5e5;
    border-right: solid 2px #ffffff;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
}

table.class1 {
    background-color: #FFFFFF;
    border: solid 2px #C6C6C6;
}

.pagetext {
    text-align: center;
    visibility: hidden;
    display: none;
    position: relative;
    top: 0;
    border: solid 0px #000000;
    width: 100%;
}

.ontab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #C6C6C6;
    border-right: solid 2px #ffffff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #FFFFFF;
}

.ontab_w {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #999999;
    border-left: outset 2px #695ABD;
    border-right: outset 2px #695ABD;
    border-top: outset 2px #695ABD;
    border-bottom: solid 1px #d5d5d5;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.offtab_w {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #e5e5e5;
    border-left: outset 2px #E0E0E0;
    border-right: outset 2px #E0E0E0;
    border-top: outset 2px #E0E0E0;
    border-bottom: solid 1px #d5d5d5;
    text-align: center;
    font-weight: normal;
}

#main {
    width: 800px;
    height: 480px;
    overflow: hidden;
    position: relative;
    z-index: 20;
}

#main #authlist0, #authlist1, #authlist2, #authlist3, #authlist4, #authlist5, #authlist6, #authlist7, #authlist8, #authlist9, #authlist10, #authlist11, #authlist12, #authlist13, #authlist14, #authlist15, #authlist16, #authlist17, #authlist18, #authlist19, #authlist20, #authlist21, #authlist22, #authlist23, #authlist24, #authlist25, #authlist26, #authlist27, #authlist28, #authlist29, #authlist30, #authlist31 {
    cursor: default;
}

#main #errinfo0, #errinfo1, #errinfo2, #errinfo3, #errinfo4, #errinfo5, #errinfo6, #errinfo7, #errinfo8, #errinfo9, #errinfo10, #errinfo11, #errinfo12, #errinfo13, #errinfo14, #errinfo15, #errinfo16, #errinfo17, #errinfo18, #errinfo19, #errinfo20, #errinfo21, #errinfo22, #errinfo23, #errinfo24, #errinfo25, #errinfo26, #errinfo27, #errinfo28, #errinfo29, #errinfo30, #errinfo31 {
    width: 420px;
    height: 330px;
    position: absolute;
    margin: 0;
    z-index: 200;
    display: none;
    padding: 20px;
}

#main #serrinfo0, #serrinfo1, #serrinfo2, #serrinfo3, #serrinfo4, #serrinfo5, #serrinfo6, #serrinfo7, #serrinfo8, #serrinfo9, #serrinfo10, #serrinfo11, #serrinfo12, #serrinfo13, #serrinfo14, #serrinfo15, #serrinfo16, #serrinfo17, #serrinfo18, #serrinfo19, #serrinfo20, #serrinfo21, #serrinfo22, #serrinfo23, #serrinfo24, #serrinfo25, #serrinfo26, #serrinfo27, #serrinfo28, #serrinfo29, #serrinfo30, #serrinfo31 {
    width: 420px;
    height: 270px;
    position: absolute;
    margin: 0;
    z-index: 200;
    display: none;
    padding: 20px;
}

.mwt_border {
    width: 250px;
    height: 20px;
    text-align: center;
    background: white;
    position: relative;
    border: solid 1px #333;
    margin: 30px;
    padding: 30px;
}

#body {
	width: 1120px;
	margin: 0 auto;
	display: table;
}

.row {
	display: table-row;
}

.tb_left {
	position: relative;
	width: 280px;
	height: 276px;
	margin: 0 auto;
	border: 1px dashed #F00;
	border-right: none;
	border-bottom: none;
	display: table-cell;
}

.tb_left:after, .tb_right:after, .bottom_left:after, .bottom_right:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url("./chanh_logo_300.png");
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: -1;
	background-size: 100% 100%;
}

.tb_right {
	position: relative;
	width: 280px;
	height: 276px;
	margin: 0 auto;
	border: 1px dashed #F00;
	border-bottom: none;
	display: table-cell;
}

.bottom_left {
	position: relative;
	width: 280px;
	height: 276px;
	margin: 0 auto;
	border: 1px dashed #F00;
	border-right: none;
	display: table-cell;
}

.bottom_right {
	position: relative;
	width: 280px;
	height: 276px;
	margin: 0 auto;
	border: 1px dashed #F00;
	display: table-cell;
}

.t1 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 18px;
	padding: 10px;
}

.t2 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
}

.valid {
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.quota {
	padding-left: 20px;
	text-align: left;
}

.dtd {
	display: inline-block;
	width: 120px;
}

.pmsg {
	text-align: left;
	padding-left: 20px;
	margin-right: 20px;
}